li.pages-nav__item = active_link_to "Courses", search_path('courses', q: params[:q]), active: /\/courses/, class_active: 'is-current', class: 'pages-nav__link'
li.pages-nav__item = active_link_to "Articles", search_path('articles', q: params[:q]), active: /\/articles/, class_active: 'is-current', class: 'pages-nav__link'
li.pages-nav__item = active_link_to "Questions", search_path('questions', q: params[:q]), active: /\/questions/, class_active: 'is-current', class: 'pages-nav__link'
