ul.user-form__switcher
    li = link_to "Увійти", new_user_session_path, class: "#{'is-active' if controller_name == 'sessions'}"
    li = link_to "Зареєструватись", new_user_registration_path, class: "#{'is-active' if controller_name == 'registrations'}"