= form_for(current_user.enrollments.find_by(course_id: course.id), remote: true, html: {method: :delete, class: "hgroup__form"}) do |f|
  = f.hidden_field :course_id
  = f.submit "Unenroll", class: "btn btn-blue btn--start-course -shadow-bottom"
