= active_link_to "Останні", articles_path(), active: /\/articles$/, class_active: 'is-current', class: 'pages-nav__item'
= active_link_to "Популярні", articles_path(sort: 'popularity'), active: /popularity/, class_active: 'is-current', class: 'pages-nav__item'
= active_link_to "Збережені", articles_path(sort: 'favorited'), active: /favorited/, class_active: 'is-current', class: 'pages-nav__item'
