= active_link_to "Останні", articles_path(), active: :exclusive, class_active: 'is-current', class: 'pages-nav__item'
= active_link_to "Популярні", popular_articles_path(), active: /\/popular/, class_active: 'is-current', class: 'pages-nav__item'
= active_link_to "Збережені", favorites_articles_path(), active: /\/favorites/, class_active: 'is-current', class: 'pages-nav__item'
