li.pages-nav__item = active_link_to "Newest", articles_path(), active: :exclusive, class_active: 'is-current', class: 'pages-nav__link'
li.pages-nav__item = active_link_to "Popular", popular_articles_path(), active: /\/popular/, class_active: 'is-current', class: 'pages-nav__link'
li.pages-nav__item = active_link_to "Top", top_articles_path(), active: /\/top/, class_active: 'is-current', class: 'pages-nav__link'
li.pages-nav__item = active_link_to "Favorites", favorites_articles_path(), active: /\/favorites/, class_active: 'is-current', class: 'pages-nav__link'
li.pages-nav__item = active_link_to "Recommended", recommended_articles_path(), active: /\/recommended/, class_active: 'is-current', class: 'pages-nav__link'
li.pages-nav__item = active_link_to "Mine", mine_articles_path(), active: /\/mine/, class_active: 'is-current', class: 'pages-nav__link'
