= provide(:title, user.name)

= render partial: 'shared/users/container__user_wrapper', locals: {user: user}

= render partial: "shared/activities/container__activities", locals: {activities: activities}
