li.pages-nav__item = active_link_to "Newest", feed_path(), active: :exclusive, class_active: 'is-current', class: 'pages-nav__link'
li.pages-nav__item = active_link_to "Popular", popular_articles_path(), active: /\/popular/, class_active: 'is-current', class: 'pages-nav__link'
