li.pages-nav__item = active_link_to "All", feed_path(), active: :exclusive, class_active: 'is-current', class: 'pages-nav__link'
li.pages-nav__item = active_link_to "Courses", courses_feed_path(), active: /\/courses/, class_active: 'is-current', class: 'pages-nav__link'
li.pages-nav__item = active_link_to "Articles", articles_feed_path(), active: /\/articles/, class_active: 'is-current', class: 'pages-nav__link'
li.pages-nav__item = active_link_to "Comments", comments_feed_path(), active: /\/comments/, class_active: 'is-current', class: 'pages-nav__link'
li.pages-nav__item = active_link_to "Questions", questions_feed_path(), active: /\/questions/, class_active: 'is-current', class: 'pages-nav__link'
li.pages-nav__item = active_link_to "Answers", answers_feed_path(), active: /\/answers/, class_active: 'is-current', class: 'pages-nav__link'
li.pages-nav__item = active_link_to "Users", users_feed_path(), active: /\/users/, class_active: 'is-current', class: 'pages-nav__link'
li.pages-nav__item = active_link_to "Personal", personal_feed_path(), active: /\/personal/, class_active: 'is-current', class: 'pages-nav__link'
