.filter__view-type{
  display: inline-block;
  position: relative;
  width: 100%;
  margin-bottom: 8px;
  text-align: center;
  vertical-align: top;

  @include breakpoint(370px){
    width: auto;
    // margin-left: 8px;
  }
}

.view-type{
  position: relative;
  display: inline-block;
  font-size: 0;
}

.view-type__item{
  display: inline-block;

  &:first-child .view-type__link{
    border-bottom-left-radius: 3px;
    border-top-left-radius: 3px;
  }
  &:last-child .view-type__link{
    border-bottom-right-radius: 3px;
    border-top-right-radius: 3px;
  }
}

.view-type__link{
  display: block;
  color: #d7dbdf;
  font-size: 20px;
  width: 44px;
  padding: 6px 0px;
  height: 35px;
  text-align: center;
  line-height: 25px;
  cursor: pointer;
}
