.flash-list{
  position: absolute;
  right: 0;
  top: 60px;
}
.flash-item{
  position: relative;
  display: block;
  z-index: 100;
  max-width: 400px;
  min-width: 250px;
  margin: 0 10px 10px 10px;
  padding: 15px 25px;
  border-radius: 4px;
  font-size: 14px;
  line-height: 21px;
  color: #3f4749;
  background-color: #fff;
  box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.1);

  @include breakpoint(500px){
    margin-right: 20px;
  }

  i{
    margin-right: 8px;
    color: #9EB1C0;
  }
}
.-type-success{
  border: 1px solid #8CC84D;
  border-left-width: 3px;
  i{color: #8CC84D;}
}
.-type-danger{
  border: 1px solid #EE363D;
  border-left-width: 3px;
  i{color: #EE363D;}
}
.-type-warning{
  border: 1px solid #FFBF6B;
  border-left-width: 3px;
  i{color: #FFBF6B;}
}
.-type-info{
  border: 1px solid #459BFD;
  border-left-width: 3px;
  i{color: #459BFD;}
}
