.headbox{
  position: relative;
  overflow: hidden;

  &__breadcrumbs{
    margin-bottom: 10px;
    @include breakpoint(500px){
      position: absolute;
      top: 10px;
      left: 20px;
      z-index: 20;
    }
  }
  &__course-thumb{
    position: relative;
    @include breakpoint(500px){
      pointer-events: none;
    }
  }
  &__hgroup{
    @include breakpoint(500px){
      position: absolute;
      bottom: 0;
      width: 100%;
    }
  }
}

.course-thumb{
  position: relative;
  width: 100%;
  height: auto;
  max-height: 350px;
  overflow: hidden;
  margin-bottom: 15px;
  background-color: #12425e;
  cursor: pointer;

  @include breakpoint(500px){
    margin: 0;
  }

  &:hover{
    .course-thumb__play-btn{opacity: 1;}
  }

  &__img{
    display: block;
    width: 100%;
  }

  &__play-btn{
    position: absolute;
    top: 50%;
    left: 50%;
    opacity: .8;
    margin-left: -28px;
    margin-top: -28px;
    padding: 28px;
    border-radius: 50%;
    background: rgba(0, 0, 0, 0.6) url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABEAAAAWCAQAAACMYb/JAAAArklEQVR4AYXSr05CYRjA4cPGxjRosTijdvNJzmD1CrwAvQWugASNwGg0MoErOIVCPCMx0hmBMaAA4mPX8/2rT/i+9/1lPu0M3MtCN1OAvS+NEFkDmHqoJwcAbHzUkb9n7C5FqLynCAzdpAhLrynCRc9VnEDpKUWYpUmZIlt5nBQeY889amvGPj33HBvdt45WbAELeWyNP/qu/8dwBrDyVp9UBRi5DYXZdTLxEs77F5bCVAHlDJ1UAAAAAElFTkSuQmCC) center center no-repeat;
    transition: opacity 80ms linear;

    @include breakpoint(500px){display: none;}
  }
}

.hgroup{
  position: relative;

  @include breakpoint(500px){
    width: 80%;
    margin: 0 auto;
  }

  &__headline{
    margin: 0 0 10px 0;
    /*padding-bottom: 10px;*/
    line-height: 24px;
    font-size: 18px;
    font-weight: 700;
    text-align: center;
    color: #3f4749;
    /*border-bottom: 1px solid #e4e4e4;*/

    @include breakpoint(500px){
      padding: 0;
      line-height: 30px;
      border: none;
      color: #fff;
      font-size: 26px;
      text-shadow: 1px 1px 2px rgba(0,0,0,.6);
    }
    @include breakpoint(600px){
      line-height: 38px;
      font-size: 30px;
    }
    @include breakpoint(1200px){
      line-height: 48px;
      font-size: 36px;
    }
  }
  &__summary{
    display: none;
    @include breakpoint(500px){
      display: block;
      line-height: 24px;
      color: #fff;
      text-align: center;
      text-shadow: 1px 1px 2px rgba(0,0,0,.6);
    }
    @include breakpoint(600px){
      line-height: 26px;
      font-size: 18px;
    }
  }

  &__form{
    display: inline-block;
  }

  &__actions{
    margin-bottom: 5px;
    text-align: center;
    @include breakpoint(500px){
      margin-bottom: 25px;
    }
  }
}

.watch-trailer{
  display: none;
  @include breakpoint(500px){
    display: inline-block;
    padding: 9px 10px;
    font-size: 15px;
    font-weight: 600;
    color: #fff;
    cursor: pointer;
  }
  @include breakpoint(600px){
    padding: 9px 10px 9px 50px;
    background: transparent image-url('play-big.png') 0 0 no-repeat;
  }
}
