.main-search{
  position: relative;

  & .soulmate{
    top: 45px;
    left: 25px;
  }
}

.main-search__icon{
  float: left;
  margin-top: 9px;
  padding: 0;
  border: 0;
  overflow: hidden;
  color: #7d7d8e;
  cursor: pointer;
}

.main-search__input{
  width: calc(100% - 16px);
  height: 40px;
  padding: 6px 12px;
  float: left;
  border: none;
  box-shadow: none;
  background-color: #fff;
  font-size: 16px;
  line-height: 1.42857;
  color: #3f3f44;

  &:focus{
    outline: 0;
  }
}
