@mixin initial-position{
  position: relative;
  top: initial;
  left: initial;
}

@mixin abs-position{
  position: absolute;
  top: -9999px;
  left: -9999px;
}

.pagination{
  display: inline-block;
  float: left;
  margin-bottom: 16px;
  @include breakpoint(max-width 499px){
    display: block;
    float: none;
    text-align: center;
  }

  &__list{
  }

  &__item{

    @include breakpoint(max-width 499px){
      @include abs-position;
    }

    &--first{
      @include initial-position;
      @include breakpoint(500px){
        @include abs-position;
      }
    }
    &--last{
      @include initial-position;
      @include breakpoint(500px){
        @include abs-position;
      }
    }
    &--prev{
      @include initial-position;
    }
    &--next{
      @include initial-position;
    }

    &.is-active{
      @include initial-position;

      & .total-pages{
        @include breakpoint(500px){
          display: none;
        }
      }
    }

  }

  &__link{

    &--dots{
      cursor: default;
      background: transparent !important;
      color: inherit !important;
    }

  }

}
