.profile-infos{

  &__user-description{
    margin-bottom: 10px;

    @include breakpoint(54.125em){
      float: left;
      margin-bottom: 0;
    }
  }
  &__user-counters{
    text-align: center;

    @include breakpoint(54.125em){
      float: right;
    }
  }
}
