.review{

  &__rating{
    line-height: 24px;
    font-size: 13px;
    color: #8f969e;

    &-list{
      display: inline-block;
      margin: 0 5px 0 2px;
    }
    &-item{
      display: inline-block;
    }
    &-star{
      color: #ddd;
      font-size: 15px;

      &.-color-yellow{
        color: $yellow;
      }
    }
  }
}
