%prev_and_next{
}
%prev_and_next-links{
  display: block;
  line-height: 30px;
  height: 30px;
  border: 1px solid transparent;
  font-size: 12px;
  font-weight: 700;

  &:hover{
    background-color: #f4fbff;
    border-radius: 3px;
    border-color: #8ad1fc;
  }
}
%prev_and_next-icons{
  margin: 0 6px;
}

.video-controls{
  position: relative;
  padding: 5px 0;
  height: 40px;
  // background-color: #f9f9f9;

  &__previous{
    @extend %prev_and_next;
    float: left;

    &-link{
      @extend %prev_and_next-links;
      padding-right: 10px;
    }
    &-icon{
      @extend %prev_and_next-icons;
    }
  }

  &__next{
    @extend %prev_and_next;
    float: right;
    text-align: left;

    &-link{
      @extend %prev_and_next-links;
      padding-left: 10px;
    }
    &-icon{
      @extend %prev_and_next-icons;
    }
  }

  &__article-state{
    margin: 0 auto;
    text-align: center;
  }

  &__article-text{
    display: inline-block;
    @include breakpoint(100px 470px){
      display: none;
    }
  }

  & .btn{
    margin: 0;
  }
}
