- provide(:title, "Courses")
- content_for :head do
  = rel_next_prev_link_tags courses

= render partial: "shared/container__top_panel", locals: {type: "Courses"}

= render partial: "shared/container_filter", locals: {entries: courses, levels: levels}

= render partial: 'shared/courses/container__courses_grid', locals: {courses: courses}
