<% if @quiz.nil? %>
  <p>
    There are not Active Surveys right now.
  </p>
<% elsif @quiz.avaliable_for_participant?(current_user) %>
  <%= render 'form' %>
<% else %>
  <p>
    <%= current_user.name %>, you spent all the possible attempts to answer this Survey
  </p>
<% end -%>
