= provide(:title, "#{category.name} Category - Articles")
- content_for :head do
  = rel_next_prev_link_tags articles

= render partial: 'shared/categories/container__category_wrapper', locals: {category: category}

= render partial: "shared/container_filter", locals: {entries: articles}

= render partial: "shared/articles/container__article_grid", locals: {articles: articles}
