- provide(:title, "Activity feed")

= render partial: "shared/container__top_panel", locals: {type: "Activities"}
= render partial: "shared/activities/container__activities", locals: {activities: @activities}
