/* Color palette
 See http://bensmithett.com/stop-using-so-many-sass-variables/
 */

$white: #fff;
$green: #20e320;
$main-blue: #17a5fb;
$h-color: #3a4145;
$pages-nav-color: #8f969e;
$border-color: #e5e5e5;
